body {

  .SearchForCity{

    border-radius: 20px;
    min-height: 30px;
    max-width: 130px;
    padding: 10px;
    text-align: center;
    appearance: none;

    &1{
      border-radius: 7px;
      position: relative;
      left: 30px;
      background: white;
      font-size: 90%;
    }
  }
}
