html {
  body {
    padding: 20px;

    button {
      margin: 10px 15px 0px 0px;
      height: 30px;
      border-radius: 5px;
    }

    .button-save {
      background: #59ce4e;
      color: white;
      border: 1px solid #59ce4e;
    }
    .button-clear {
      background: #ff1825;
      color: white;
      border: 1px solid #ff1825;
    }

    .button-clear:hover {
      cursor: pointer;
      background: #be0101;
    }

    .button-save:hover {
      cursor: pointer;
      background: #15e000;
    }
  }
}