.wrapper {
    width: 1137px;
    height: 796px;
    left: 151px;
    top: 114px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    background: #d8d3fc;
    border-radius: 30px;
}

.block-1 {
    grid-column: 1/2;
}

.block-2 {
    grid-column: 2/3;
}

.tittle {
    position: relative;
    width: 272px;
    height: 42px;
    font-family: 'Georama';
    font-style: normal;
    font-weight: 500;
    font-size: 35px;
    line-height: 42px;
    color: #000000;
    margin: 127px 0px 0px 20px;
}

input#input {
    position: relative;
    width: 438px;
    height: 60px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 29px;
    margin: 5px;
    font-size: xx-large;
    padding: 5px;
}
input:focus, textarea:focus, select:focus {
    outline: none !important;
}

.id {
    position: relative;
    width: 438px;
    height: 60px;
    background: rgba(0, 0, 0, 0.15);
    border-radius: 29px;
    margin: 5px;
    font-size: xx-large;
    padding: 5px;
    height: 289px;
}
ion-icon {
    width: 80%;
    height: 80%;
}
#one{
    float: right;
    width: 46px;
    height: 46px;
    background: #675FBF;
    border-radius: 0px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    position: relative;
    width: 163px;
    height: 87px;
    mix-blend-mode: darken;
    margin: 89px 0px 0px 205px;
}

.image {
    position: relative;
    width: 407px;
    height: 410px;
    mix-blend-mode: darken;
    margin: 20px 0px 0px 82px ;
}
form {
    position: relative;
    margin: 20px 0px 0px 20px ;
}


#x {
    position: relative;
    margin: 50px 0px 0px 25px;
    width: 400px;
}