.navigation {

  /* Навигация */


  position: absolute;
  width: 468px;
  height: 25px;
  left: 600px;
  top: 27px;

  &__link {
    margin: 30px;
    text-decoration: none;
    font-size: 25px;
    color: rgba(40, 31, 91, 0.97);
  }
  &__link:hover {
    color: black;
    font-size: 30px;
  }
}